/* BUTTON  */
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";

section {
    color: #ffffff;
}

.cont{
    height: 50rem;
}
.credential {
    text-align: center;
    margin-top: 0rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    justify-content: start;
    padding-left: 25%;
    margin-top: 4%;
    position: relative;
}

.gridOne {
    max-width: 100%;
    color: #ffffff;
    background: #709BEF;
    height: 16vh;
    border-radius: 0.6rem;
}

@media (max-width: 800px) {
    .cont{
        height: 80rem;
    }
    .grid {
        padding-top: 1rem;
        justify-content: center;
        background: #ffffff;
        border-radius: 1rem;
        padding-right: 5rem;
    }

    .gridOne {
        max-width: 100%;
        color: #ffffff;
        background: #709BEF;
        height: 14vh;
        border-radius: 0.6rem;
        position: relative;
    }

    .hora {
        border-radius: 0.6rem;
        position: relative;
        padding-left: 0.2rem;
    }
}

@media (max-width: 400px) {
    .cont{
        height: 80rem;
    }

    .grid {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: auto;
        background: #ffffff;
        border-radius: 1rem;
        height: 100vh;
    }

    .gridOne {
        max-width: 100%;
        color: #ffffff;
        background: #709BEF;
        height: 14vh;
        border-radius: 0.6rem;
        position: relative;
    }  
}